body{
background-image:url(images/1.jpg);
background-size: cover;
}

a{
	color: #000000;
	font-size: 25px;
}

div{

color:#ffe600;
background-color:#78797a;
border: 1px solid #000000;
font-size: 36px
padding: 20px;
margin: 15px;
border-radius: 100px;
opacity: 0.8;
box-shadow:3px 3px 7px #000000;
width:49%; 
}

#a1{
	transform: scale(1);
transition: 0.1s all;
}
#a1:hover{
transform: rotate(2deg) scale(1);
background-color:black;
}

#img{
	border: 1px solid black;
	box-shadow:3px 3px 7px #000000;
}

#title2{
font-size: 35px;
color:#000000;	
}